@use "../variables" as *;

.btn-no-style{
  background-color: unset;
  border: unset;
  border-radius: unset;
  box-shadow: none;
  color: $black;
  cursor: pointer;
  padding: 0;

  &:hover{
    color: #5200ff
  }
}