@use "../variables" as *;

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 2rem auto;

  .cards {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;

    .card-wrapper {
      min-width: 100%;
      transition: transform 0.5s ease;
      opacity: 0;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  @media (min-width: $min-width-md) {
    .swiper {
      height:auto;
    }
  }

  button {
    background: $black;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.prev {
      left: -50px;
    }

    &.next {
      right: -50px;
    }
  }
}

.tab-panel {
  padding: unset;
  border-radius: unset;
  background: unset;
  border: unset;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 2rem;
  font-style: normal;
  color: $black;
  font-weight: 400;
  line-height: normal;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
}

.swiper-pagination-bullet-active {
  color: $black;
}

section {
  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-item {
    width: 50rem;
  }
}

.swiper-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Anzahl der Zeilen */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects-container {
  border-radius: $radius-medium;

  img {
    border-radius: $radius-medium;
  }
}