@use "../variables";

.rounded-image {
  border-radius: 50%;
  display: block;
  height: 5rem;
  overflow: hidden;
  width: 5rem;

  img {
    flex-shrink: 0;
    height: auto;
    object-fit: cover;
  }
}

.img-responsive {
  display: inline;
  height: auto;
  max-width: 100%;
}

.rounded-image-border{
  border-radius: 1rem;
}

.img-marc {
  width: 600px;
  margin-top: -200px;
}
