@use "../variables" as *;

.swiper-container {
  width: 100%;

  @media (min-width: $min-width-xs) {
    // buttons width
    width: calc(100% - 2 * 3rem);
    left: calc(-1 * 8px);
  }
}

.swiper-slide {
  .modal & {
    height: 100vh;
    display: flex;
    justify-content: center;
  }
}

.swiper-wrapper {
  height: auto;
  display: flex;
  align-items: center;
}


.swiper-button-prev {
  position: relative;
  padding: 0 0 0 8px;
}

.swiper-button-next {
  position: relative;
  right: calc(2 * 8px);
  padding: 0 8px 0 0;
}

.swiper-button-prev,
.swiper-button-next {
  border-radius: unset;
  background-color: unset;
  color: $black !important;
  border: unset;
  font-size: 3rem;
  display: none;
  z-index: 2;

  @media (hover: hover) {
    &:hover {

    }
  }

  @media (min-width: $min-width-xs) {
    height: 100vh;
    display: block;
  }
}

.slider-item {
  margin: auto;
  word-wrap: anywhere;
  max-width: 100%;
  width: fit-content;
}

.slider-gallery-items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  overflow: hidden;
}

.slider-gallery-item {
  width: 9rem;
  word-wrap: break-word;

  img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 4px;
  }

  p {
    font-size: $standard-font;
  }
}

.slider-gallery-item-wrapper {
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

.slider-gallery-item-slide {
  text-align: center;

  .title,
  .description,
  .link {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;

    @media (min-width: $min-width-xs) {
      max-width: 25rem;
    }

    @media (min-width: $min-width-md) {
      max-width: 45rem;
    }

    @media (min-width: $min-width-xl) {
      max-width: 60rem;
    }
  }

  .title {
    text-align: center;
    color: #000;
    margin-bottom: 4px;
  }

  .description {
    margin-bottom: 4px;
  }

  .link {
    font-size: $standard-font;
  }
}

.slider-gallery-image {
  img {
    max-width: 75%;
    max-height: 75%;
    margin-bottom: 4px;

    @media (min-width: $min-width-xs) {
      max-width: 25rem;
      max-height: 25rem;
    }

    @media (min-width: $min-width-md) {
      max-width: 45rem;
      max-height: 45rem;
    }

    @media (min-width: $min-width-xl) {
      max-width: 60rem;
      max-height: 60rem;
    }
  }
}

.slider-gallery-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 3rem;
  z-index: 3;

  i {
    color: #000;
  }
}

.swiper {
  height: auto;

  img:not(.icon) {
    height: 260px;
    width: 100%;
    object-fit: cover;
    border: 1px solid #000;
  }

  @media (min-width: $min-width-sm) {
    //height: 28rem;
  }
  @media (min-width: $min-width-md) {
    //height: 36rem;
  }
  @media (min-width: $min-width-lg) {
    //height: 40rem;

    img:not(.icon) {
      height: 24rem;
      min-height: 24rem;
    }
  }

  .grid-1-1 {
    margin-top: 32px;
  }

  ul.grid-1-1 {
    margin-top: 8px;
  }
}

.swiper-header-container {
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;

  .swiper-wrapper {
    align-items: flex-start;
    height: auto;

    h3 {
      margin-bottom: 32px;
    }

    .align-items-center h3 {
      margin-bottom: 0;
      align-items: center;
    }
  }
}

.swiper-item {
  margin: auto auto 60px;
  padding: 1px;
  margin: 1px;

  ul {
    margin-top: 8px;
  }

  @media (min-width: $min-width-xs) {
    margin: auto 3rem auto 3rem;
  }
  @media (min-width: $min-width-md) {
    margin: auto 4rem auto 4rem;
    max-width: 50rem;
  }

  h1 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
  }
}

.swiper-pagination {
  display: flex;
  justify-content: start;
  color: $black;

  @media (min-width: $min-width-xs) {
    display: none;
  }
}

.swiper-button-next {
  color: $black;
  display: none;

  &:after {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media (min-width: $min-width-xs) {
    display: flex;
  }
}

.swiper-pagination-bullets {
  margin-bottom: 0;

  .swiper-pagination-bullet {
    background: grey;

    &.swiper-pagination-bullet-active {
      background: $black;
    }
  }
}

.swiper-slide {
  display: flex;
}

.tab-header-container {
  margin-bottom: 16px
}

.small-gap {
  gap: var(--lp-gap-display-xs);
}

.tab-panel {
  padding: unset;
  border-radius: unset;
  background: unset;
  border: unset;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 2rem;
  font-style: normal;
  color: $black;
  font-weight: 400;
  line-height: normal;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
}

.swiper-pagination-bullet-active {
  color: $black;
}


.swiper-pagination.swiper-pagination-bullets {
  justify-content: center;
}

.swiper {
  .swiper-button-prev, .swiper-button-next {
    padding: 0;
    color: $black;
    display: none;

    @media (min-width: $min-width-md) {
      display: flex;
    }

    .swiper-navigation-icon, svg {
      color: $black;
      font-size: 3rem;
      width: 27px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      letter-spacing: 0;
      height: 27px;
      line-height: normal;
      text-transform: none !important;
    }
  }
}


.swiper-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Anzahl der Zeilen */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
