.switcher {
  height: 1.25rem;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;

  label {
    align-items: center;
    cursor: pointer;
    gap: .75rem;
    height: 1.25rem;
  }


  .switch {
    display: inline-block;
    height: 1.25rem;
    position: relative;
    width: 2.25rem;
  }

  input[type=checkbox]:checked {
    background-color: #222;
    //background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns= 'http://www.w3.org/2000/svg' width= '12' height= '12' fill= 'none' %3E%3Cpath stroke= '%23fff' stroke-linecap= 'round' stroke-linejoin= 'round' stroke-width= '2' d= 'M10 3 4.5 8.5 2 6' /%3E%3C/svg%3E);
    background-repeat: no-repeat;
    border-color: #222;
  }

  .toggle-thumb {
    align-items: center;
    background-color: #222;
    border-radius: 8px;
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

   .toggle-thumb::before {
    background-color: #fff;
    border-radius: 50%;
    bottom: .125rem;
    content: "";
    height: 1rem;
    left: .188rem;
    position: absolute;
    top: .125rem;
    transition: all .4s ease;
    width: 1rem;
  }

  //transform: translateX(0);
  .toggle-thumb::before {
    background-color: #fff;
    transform: translateX(0);
  }
  input:checked + .toggle-thumb::before {
    transform: translateX(15px);
  }
}