@use "../variables" as *;

.timeline-container {
  position: relative;
  margin: 0 auto;
  padding: 2rem 1.5rem;

  max-width: var(--content-width);
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media (min-width:$min-width-sm) {
    padding: 2rem 1rem;
  }

  &.blue {
    .timeline-line {
      background: #c9baff;
      height: 750px;

      @media(min-width: $min-width-sm) {
        margin-left: 10px;
      }
    }

    .timeline-dot {
      background: #5200ff;
      @media(min-width: $min-width-sm) {
        margin-left: 10px;
      }
    }
  }
}

.timeline-line {
  position: absolute;
  left:10px;
  //left: 35px;
  top: 42px;
  bottom: 0;
  width: 4px;
  height: 950px;
  background: #d2d2d2;
  border-radius: 2px;

  @media (min-width: $min-width-sm) {
    //left: 50px;
  }

  @media (min-width: $min-width-sm) {
    left: 2px;
  }

  @media (min-width: $min-width-sm) {
    //left: 50px;
  }
}

.timeline-line {
  z-index: 1;
  @media(min-width: $min-width-md) {
    margin-left: 10px;
  }
}

.timeline-item, .timeline-dot {
  z-index: 2;
}

.timeline-item {
  position: relative;
  //padding-left: 2.5rem;
  padding-left: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $min-width-sm) {
    //padding-left: 3.5rem;
  }
}

.timeline-dot {
  position: absolute;
  left: -19px;
  top: 0.5rem;
  width: 14px;
  height: 14px;
  background: #000;
  border-radius: 50%;
  @media(min-width: $min-width-md) {
    margin-left: 10px;
  }

  @media (min-width: $min-width-sm) {
    left: -35px;
  }
}


.timeline-card {
  background: $white;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.timeline-container.silver .timeline-line {
  background: #dcdcdc;
}

.silver .timeline-card {
  background: #f2f2f2;
}

.timeline-container.silver .timeline-dot {
  background: #636363;
}

.blue.timeline-line {
  height: 700px;
}

.silver.timeline-line {
  height: 975px;
}

.blue .timeline-card {
  background: #e0dbf1
}

.timeline-card h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: #444;
}

.location {
  font-size: 0.875rem;
  color: #666;
}

.date {
  font-size: 0.75rem;
  color: #999;
}

.details {
  margin-top: 0.5rem;
  padding-left: 1.2rem;
  color: #444;

  li {
    margin-bottom: 0.25rem;
    word-break: break-word;
  }
}


// Responsive Anpassungen
.timeline-container {
  @media (min-width: 576px) {
    padding: 2rem;
  }
}

.timeline-container.blue {
  margin-bottom: 32px;

  @media (min-width: 576px) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .timeline-card {
    padding: 2rem;
  }
}

@media (min-width: 992px) {
  .timeline-container {
    gap: 4rem;
  }
}