@use "style/flex" as *;
@use "style/header" as *;
@use "style/base" as *;

.app {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  background-color: #f5f5f5;
}

.logo{
  font-size: 24px;
  color: #764ba2;
}

.w-100{
  width: 100%;
}


