@use "../variables";

$min-width-xs: 576px;
$min-width-sm: 576px;
$min-width-md: 768px;
$min-width-lg: 992px;
$min-width-xl: 1200px;

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 2rem auto;

  .cards {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;

    .card-wrapper {
      min-width: 100%;
      transition: transform 0.5s ease;
      opacity: 0;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  button {
    background: #222222;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.prev {
      left: -50px;
    }
    &.next {
      right: -50px;
    }
  }
}



.tab-panel {
  padding: unset;
  border-radius: unset;
  background: unset;
  border: unset;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 2rem;
  font-style: normal;
  color: #222222;
  font-weight: 400;
  line-height: normal;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
}

.swiper-pagination-bullet-active {
  color: #222222;
}

.swiper-button-prev, .swiper-button-next {
  padding: 0;
  color: #222222;
  display: none;

  @media (min-width: $min-width-xs) {
    display: flex;
  }

  svg {
    color: #222;
    font-size: 3rem;
    width: 27px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    height: 27px;
    line-height: normal;
    text-transform: none !important;
  }
}

.swiper-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Anzahl der Zeilen */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}