@use "components/badges" as *;
@use "components/column" as *;
@use "components/carousell" as *;
@use "components/card" as *;
@use "components/swiper" as *;
@use "components/preva" as *;
@use "components/buttons" as *;
@use "components/image" as *;
@use "components/switch" as *;
@use "components/timeline" as *;
@use "pages/contact" as *;
@use "variables" as *;

body {
  margin: 0;
}

.break-out {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.text-bold {
  font-weight: 600;
}


:root {
  --content-width: 100%;

  //--------------- Margin --------------------
  --pagemargin: var(--spacing-16);

  @media (min-width: 576px) {
    --pagemargin: var(--spacing-24);
    --content-width: 48rem;
  }

  @media (min-width: 768px) {
    --content-width: 64rem;
    --pagemargin: var(--spacing-40);
  }

  @media (min-width: 992px) {
    --content-width: 80rem;
    --gap-betweensections: var(--spacing-40);
  }

  @media (min-width: $min-width-xxl) {
    --pagemargin: auto;
  }

  --gap-betweensections: var(--spacing-40);
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: var(--content-width);
}

section {
  margin-left: var(--pagemargin);
  margin-right: var(--pagemargin);
  max-width: 100%;
  //width: var(--content-width);
}

.header-content {
  padding-left: var(--pagemargin);
  padding-right: var(--pagemargin);

  .grid-1-1 {
    grid-template-columns: unset;
    @media (min-width: $min-width-lg) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

header {
  max-width: var(--content-width);
  margin: auto;
}

.app {
  //background: linear-gradient(90deg, rgba(101, 47, 128, 1) 0%, rgba(139, 87, 199, 1) 50%, rgba(101, 47, 128, 1) 100%);
}
