@use "sass:math";
@use "sass:map";
@use "./variables" as *;

$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: map.get($breakpoints, xl);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*="col-"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
}

@function col-width($cols) {
  @return calc($cols / 12);
}

.gap-8 {
  gap: 1rem;
}

.d-grid {
  display: grid;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $min-width-sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


// Responsive columns
@each $break, $size in $breakpoints {
  @for $i from 1 through 12 {
    .col-#{$break}-#{$i} {
      @media (min-width: $size) {
        flex: 0 0 col-width($i);
        max-width: col-width($i);
      }
    }
  }
}

.align-item-start {
  align-items: start;
}

.collapsible-header {
  cursor: pointer;
  transition: color 0.2s;
}

.collapsible-header:hover {
  color: #007bff; /* Highlight beim Hover */
}

.card .collapsible-content {
  text-align: start;
}

.collapsible-content {
  max-height: 0;
  overflow-y: hidden; /* nur vertikal beschneiden */
  overflow-x: visible; /* Tooltip kann horizontal rausgehen */
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 0;
}

#howiwork .collapsible-content {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  &.open {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.collapsible-content.open {
  max-height: 5000px; /* groß genug für Inhalte */
  padding: 8px 0;
  overflow: visible;
  gap: 8px;
  flex-wrap: wrap;
  display: flex;
}

.card.opened-card {
  gap: 1rem;
}

.d-md-none {
  display: none !important;
  @media (min-width: $min-width-md) {
    display: flex !important;
  }
}

// Optional: full width for extra small
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}