@use "sass:math";
@use "sass:map";
@use "./variables" as *;

$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: map.get($breakpoints, xl);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*="col-"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
}

@function col-width($cols) {
  @return calc($cols / 12);
}

.gap-8 {
  gap: 1rem;
}

.d-grid {
  display: grid;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $min-width-sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


// Responsive columns
@each $break, $size in $breakpoints {
  @for $i from 1 through 12 {
    .col-#{$break}-#{$i} {
      @media (min-width: $size) {
        flex: 0 0 col-width($i);
        max-width: col-width($i);
      }
    }
  }
}

// Optional: full width for extra small
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}