@use "flex" as *;
@use "header" as *;
@use "base" as *;
@use "./variables" as *;

.app {
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

#root {
  background-color: #f5f5f5;
  font-family: Arial, serif;
}

.logo {
  position: absolute;
  left: 2rem;
  top: 8px;
  font-size: 24px;
  color: #764ba2;
}

.w-100 {
  width: 100%;
}

// -------------- Font sizes ------------------
:root {
  --fonts-size-h1: 1.5rem; //24px
  --fonts-size-h2: 1.25rem; //20px
  --fonts-size-h3: 1.125rem; //18px
  --fonts-size-h4: 1.125rem; //18px
  --fonts-size-body: 1rem; //16px
  --fonts-size-meta: .875rem; //14px

  @media (min-width: $min-width-xs) {
    --fonts-size-h1: 2rem; //32px
    --fonts-size-h2: 1.5rem; //24px
    --fonts-size-h3: 1.25rem; //20px
  }

  @media (min-width: $min-width-md) {
    --fonts-size-h1: 2.5rem; //40px
  }

  body {
    p {
      font-size: var(--fonts-size-body);
      font-weight: 400;
      line-height: 1.5;
      margin: 0 0 0.5rem;
    }

    hr {
      border: 0;
      border-top: 4px solid #cf33cf;
      margin: 1px 160px .5rem 20px;
    }

    h1 {
      font-size: var(--fonts-size-h1);
      margin-bottom: .5rem;
      font-weight: 600;
      line-height: 1.2;
    }

    h2 {
      font-size: var(--fonts-size-h2);
      font-weight: 600;
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: var(--fonts-size-h3);
      margin-bottom: .5rem;
      font-weight: 600;
      line-height: 1.2;
      margin-top: 0;
    }

    h4 {
      font-size: var(--fonts-size-h4);
      margin-bottom: .5rem;
      font-weight: 500;
      line-height: 1.2;
    }

    a {
      text-underline: none;

      &:hover {
        text-decoration: none;
      }
    }

    .btn {
      min-width: 168px;
      height: 44px;
      line-height: 2;
      color: #0045c6;
      position: relative;
      border: 1px solid #0045c6;
      border-radius: 12px;
      background-color: $white;
      padding: 6px;
      cursor: pointer;
      text-align: center;
    }
  }
}

