@use "flex" as *;
@use "header" as *;
@use "base" as *;

.app {
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

#root {
  background-color: #f5f5f5;
  font-family: Arial;

}

.logo {
  position: absolute;
  left: 2rem;
  top: 8px;
  font-size: 24px;
  color: #764ba2;
}

.w-100 {
  width: 100%;
}

body {
  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  hr {
    border: 0;
    border-top: 4px solid #cf33cf;
    margin: 1px 160px .5rem 20px;
  }

  h1 {
    font-size: 2.5rem;;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  a {
    text-underline: none;

    &:hover {
      text-decoration: none;
    }
  }

  .btn {
    min-width: 168px;
    height: 44px;
    line-height: 2;
    color: #0045c6;
    position: relative;
    border: 1px solid #0045c6;
    border-radius: 12px;
    background-color: #fff;
    padding: 6px;
    cursor: pointer;
    text-align: center;
  }
}


