@use "flex" as *;
@use "header" as *;
@use "base" as *;
@use "./variables" as *;

.app {
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

.display-desktop {
  display: block;
  @media (min-width: $min-width-md) {
    display: none;
  }
}

.contact {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 0;
  border-top: unset;

  @media (min-width: $min-width-md) {
    padding-top: 32px;
    border-top: 1px solid;
    grid-template-columns: repeat(5, 1fr);

  }

}

#root {
  background-color: #f5f5f5;
  font-family: Arial, serif;
}

.logo {
  position: absolute;
  left: 2rem;
  top: 8px;
  font-size: 24px;
  color: #764ba2;
}

.w-100 {
  width: 100%;
}

// -------------- Font sizes ------------------
:root {
  --fonts-size-h1: 1.5rem; //24px
  --fonts-size-h2: 1.25rem; //20px
  --fonts-size-h3: 1.125rem; //18px
  --fonts-size-h4: 1.125rem; //18px
  --fonts-size-body: 1rem; //16px
  --fonts-size-meta: .875rem; //14px

  @media (min-width: $min-width-xs) {
    --fonts-size-h1: 2rem; //32px
    --fonts-size-h2: 1.5rem; //24px
    --fonts-size-h3: 1.25rem; //20px
  }

  @media (min-width: $min-width-md) {
    --fonts-size-h1: 2.5rem; //40px
  }

  body {
    section {
      padding-bottom: 32px;
      padding-top: 32px;
      //  background: #f5f5f5
    }

    p {
      font-size: var(--fonts-size-body);
      font-weight: 400;
      line-height: 1.5;
      margin: 0 0 0.5rem;
    }

    hr {
      border: 0;
      //left: -10px;
      //width: 80px;
      //border-top: 4px solid #cf33cf;
      margin: 1px 160px .5rem 20px;
    }

    h1 {
      font-size: var(--fonts-size-h1);
      margin-bottom: .5rem;
      font-weight: 600;
      line-height: 1.2;
      word-wrap: break-word;
    }

    h2 {
      font-size: var(--fonts-size-h2);
      font-weight: 600;
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: 2rem;
      word-wrap: break-word;
    }

    h2 {
      font-size: var(--fonts-size-h2);
      font-weight: 700;
      line-height: 1.15;
      margin-top: 0rem;
      margin-bottom: 1.5rem;

      /* Typografische Veredelung */
      letter-spacing: -0.015em;

      /* sanfte Farbe (statt reinem Schwarz) */
      color: #222; /* oder #2a2a2a je nach Theme */

      /* dezente Tiefe */
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);

      /* visueller Premium-Akzent */
      position: relative;
    }

    h2:after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: -10px;
      width: 80px;
      border-top: 4px solid #cf33cf;
    }


    h3 {
      font-size: var(--fonts-size-h3);
      margin-bottom: .5rem;
      font-weight: 600;
      line-height: 1.2;
      margin-top: 0;
      word-wrap: break-word;
    }

    h4 {
      font-size: var(--fonts-size-h4);
      margin-bottom: .5rem;
      font-weight: 500;
      line-height: 1.2;
      word-wrap: break-word;
    }

    a {
      text-underline: none;

      &:hover {
        text-decoration: none;
      }
    }

    .btn {
      min-width: 168px;
      height: 44px;
      line-height: 2;
      color: #0045c6;
      position: relative;
      border: 1px solid #0045c6;
      border-radius: 12px;
      background-color: $white;
      padding: 6px;
      cursor: pointer;
      text-align: center;
    }
  }
}

