

$min-width-xs: 576px;
$min-width-sm: 576px;
$min-width-md: 768px;
$min-width-lg: 992px;
$min-width-xl: 1200px;

// colours
$black: #222222;
$white: #fff;

// font size
$standard-font: 16px;

// border-radius
$radius-small: 8px;
$radius-medium: 16px;